<!-- <div class="row">
  <div class="col-md-3">
    <app-sidebar (filterChange)="applyFilter($event)"></app-sidebar>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div *ngFor="let product of filteredProducts" class="col-md-3 mb-4">
        <div class="card">
          <img [src]="product.image" class="card-img-top" height="200" />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Ksh {{ product.price }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3">
    <app-sidebar (filterChange)="applyFilter($event)"></app-sidebar>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div *ngFor="let product of paginatedFilteredProducts" class="col-md-3 mb-4">
        <div class="card shadow">
          <img [src]="product.image" class="card-img-top" height="200" />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">Ksh {{ product.price }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination Controls -->
    <nav aria-label="Page navigation" *ngIf="totalPages > 1">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="currentPage === i + 1"
        >
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
