<div class="bg-light border p-3 rounded shadow-sm">
  <h5>Filter Products</h5>

  <label>Type</label>
  <select class="form-control mb-2" [(ngModel)]="selectedType" (change)="emitFilter()">
    <option value="">All</option>
    <option *ngFor="let type of types" [value]="type">{{ type }}</option>
  </select>

  <label>Max Price</label>
  <input type="range" [(ngModel)]="maxPrice" min="0" max="1000" (change)="emitFilter()" class="form-range" />
  <p>Ksh {{ maxPrice }}</p>

  <label>Search by Name</label>
  <input type="text" class="form-control mb-2" [(ngModel)]="searchName" (input)="emitFilter()" />

  <button class="btn btn-sm btn-outline-secondary" (click)="resetFilter()">Reset</button>
</div>
